<div class="container py-5 d-flex flex-column p-2 bd-highlight align-items-center">
  <h1>URL Shortener</h1>
  <a href="/"><i class="fas fa-link fa-10x" style="color:#80D3F2"></i></a>

  {{#if rawurl}}
  <div class="alert text-center" role="alert">
    <h2 class="mr-2 align-left">Success! Please use this link:</h2>
    <h3><a class="align-left" href="{{website}}{{shorturl}}">{{website}}{{shorturl}}</a></h3>
    <div><button class="btn btn-primary copyBtn">Copy</button></div>
  </div>
  {{/if}}

  {{!-- 檢查發現重複 --}}
  {{#unless rawurl}}
  {{#if shorturl}}
  <div class="alert text-center" role="alert">
    <h2 class="mr-2 align-left">Already had a shorturl:</h2>
    <h3><a class="align-left" href="{{website}}{{shorturl}}">{{website}}{{shorturl}}</a></h3>
    <div><button class="btn btn-primary copyBtn">Copy</button></div>
  </div>
  {{/if}}

  {{/unless}}

  {{!-- 第一次到首頁 --}}
  {{#unless shorturl}}
  <form method="POST" action="/" class="text-center">
    <input type="text" name="rawurl" value="{{rawurl}}" class="form-control my-3" placeholder="Input URL here">
    <button onclick="myFunction()" type="submit" class="btn btn-outline-info my-3">Shorten</button>
  </form>
  {{/unless}}
</div>